{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "printWidth": 160,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "trailingComma": "all",
  "endOfLine": "auto"
}
